name: Generate Readme
on:
  push:
    branches:
      - master
jobs:
  generate-readme:
    if: "!startsWith(github.event.head_commit.message, 'generateReadme:')"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        token: '${{ secrets.PERSONAL_ACCESS_TOKEN }}'
    - run: "pip install MarkupSafe==2.0.1"
    - run: "pip install notebook"
    - run: "pip install naas_drivers markdown2==2.4.0"
    - run: "pip install papermill"
    - run: "jupyter nbconvert --execute generate_readme.ipynb --inplace"
    - run: "jupyter nbconvert --clear-output --inplace generate_readme.ipynb"
    - uses: EndBug/add-and-commit@v7.2.1
      with:
        message: 'generateReadme: Refresh'
